# Ignore local-arcana-bot.py
local-arcana-bot.py

# Ignore any .pyc files (Python compiled files)
*.pyc

# Ignore logs
*.log

# Ignore contents of __pycache__ directories under cogs
cogs/**/__pycache__/
cogs/__pycache__
